@model _66044011_Tatsunori.ViewModels.LabStudentViewModels

<form asp-action="Lab10" asp-controller="Account">

    StdID: <input type="text" asp-for="StdID" class="form-control" readonly/>

    StdPASSWORD: <input type="text" asp-for="StdPASSWORD" class="form-control" />

    StdName: <input type="text" class="form-control"  asp-for="StdName" />


    StdLastname: <input type="text" class="form-control"  asp-for="StdLastname" />


    <button type="submit">Submit</button>
</form>